@tailwind base;
@tailwind components;
@tailwind utilities;

.imagenStyle {
  background-image: url('../../public/imagen-login.jpeg');
  background-size: cover;
  background-position: center;
  width: 750px;
}

body {
  font-family: "Helvetica Neue"
}
